.Community .text-box-community-section {
  width: 543px;
  height: 88px;
  margin: 0 auto;
}

.Community .small-text-padding-top-8 {
  color: #717171;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 8px;
}

.Community .group-system-items {
  width: 299px;
  height: 260px;
  display: flex;
  gap: 127.5px;
  margin-left: 144px;
  margin-right: 144px;
  align-items: center;
}

.Community .group-system-items h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #4d4d4d;
  width: 267px;
  height: 72px;
  padding-left: 16px;
  padding-right: 16px;
}

.Community .group-system-items h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #717171;
  padding-top: 8px;
  padding-bottom: 24px;
  padding-right: 30px;
  padding-left: 30px;
}

.Community .group-system-image {
  width: 65px;
  height: 56px;
  padding-left: 117px;
  padding-right: 117px;
  padding-bottom: 16px;
  padding-top: 24px;
}

.Community .group-system-items .h5-group-system-center {
  width: 220px;
  margin: 0 auto;
}

.Community .group-system-items .h1-group-system-right {
  width: 231px;
  height: 72px;
  padding-left: 34px;
  padding-right: 34px;
}

.Community .box-shadow-group-system {
  box-shadow: 0px 2px 4px #abbed1;
  border-radius: 8px;
  margin-top: 16px;
}
