.Customers {
  position: relative;
}

.Customers .content-area {
  padding: 32px 0;
  display: flex;
  gap: 78px;
}

.Customers .content-area .left-side {
  flex: 0;
}

.Customers .content-area .left-side img {
  display: block;
  max-width: 326px;
}

.Customers .content-area .right-side {
  flex: 1;
}

.Customers .logos-grid {
  display: flex;
  gap: 40px;
  align-items: center;
}

.Customers .right-side .meet-button {
  display: flex;
  gap: 4px;
  align-items: center;
}
