/* .Header {
  display: block;
} */

.background-grey {
  background-color: #f5f7fa;
}

.center-1440 {
  width: 1440px;
  margin: 0 auto;
}

.logo-header {
  display: flex;
  width: 154.49px;
  height: 24px;
  padding-left: 104px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.flex-grid {
  display: flex;
  align-items: center;
}

.menu-button-bar {
  display: flex;
  gap: 50px;
  justify-content: center;
  height: 24px;
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.login-signup {
  display: flex;
  height: 40px;
  padding-top: 23px;
  padding-right: 120px;
  padding-bottom: 20px;
  gap: 14px;
  white-space: nowrap;
}

.small-transparent-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  color: #4caf4f;
}

.small-rounded-green-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4caf4f;
  border-radius: 6px;
  color: white;
}
