/* .Header {
  display: block;
} */

.Header .background-grey {
  background-color: #f5f7fa;
}

.Header .logo-header {
  display: flex;
  width: 154.49px;
  height: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Header .menu-button-bar {
  display: flex;
  gap: 50px;
  justify-content: center;
  height: 24px;
  flex: 1;
  align-item: center;
}

.Header .cursor-pointer {
  cursor: pointer;
}

.Header .cursor-pointer:hover {
  text-decoration: underline;
}

.Header .login-signup {
  display: flex;
  height: 40px;
  padding-top: 23px;
  padding-bottom: 20px;
  gap: 14px;
  white-space: nowrap;
}

.Header .small-transparent-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  color: #4caf4f;
}

.Header .small-rounded-green-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4caf4f;
  border-radius: 6px;
  color: white;
}
