.FlexGrid.flex-grid {
  display: flex;
  align-items: center;
}

.FlexGrid.center-1440 {
  width: 1440px;
  margin: 0 auto;
  padding: 0 144px;
  box-sizing: border-box;
}

.FlexGrid.padding-104-lr {
  padding: 0 104px;
}

.FlexGrid.gap-72 {
  gap: 72px;
}
