.CommunityModule {
  position: relative;
}

.CommunityModule .image-box-community-updates {
  width: 368px;
  height: 366px;
}

.CommunityModule .community-updates-content-box {
  width: 317px;
  height: 176px;
  display: flex;
  flex-flow: column;
  position: absolute;
  bottom: 0px;
  margin-left: 25.5px;
}

.CommunityModule .box-shadow-community-updates-content-box {
  box-shadow: 0px 8px 16px #abbed1;
  border-radius: 8px;
  margin-bottom: 94.6px;
}
