* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: transparent;
}

.padding-top-16 {
  padding-top: 16px;
}

.padding-top-40 {
  padding-top: 40px;
}

.text-centralized {
  text-align: center;
}

.large-text {
  font-size: 36px;
  line-height: 44px;
  color: #4d4d4d;
  font-weight: 600;
}

.background-grey {
  background-color: #f5f7fa;
}
