.BannerMain {
  position: relative;
}

.BannerMain .inner-gap {
  display: flex;
  gap: 104px;
}

.BannerMain .flex-grid {
  display: flex;
  align-items: center;
}

.BannerMain .container-text-banner {
  padding-top: 161.5px;
  padding-bottom: 161.5px;
}

.BannerMain .banner-gray-text {
  color: #4d4d4d;
  font-size: 64px;
  line-height: 76px;
  font-weight: 600;
}

.BannerMain .small-text-padding-top-16 {
  color: #717171;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 16px;
}

.BannerMain .image-banner1 {
  justify-content: flex-end;
  width: 391px;
  height: 407px;
  padding-top: 96px;
  padding-bottom: 96px;
}
